<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Car Reminder App</title>
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
            crossorigin="anonymous"></script>

    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous"></script>

</head>
<body class="bg-dark">
<header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom">
    <div class="d-flex align-items-center col-md-3 mb-2 mb-md-0 text-dark text-decoration-none">
        <svg class="bi me-2" width="40" height="32" role="img" aria-label="Bootstrap">
            <use xlink:href="#bootstrap"></use>
        </svg>
    </div>
    <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
        <li><a th:href="@{/cars}" class="nav-link px-2 link-light">Strona główna</a></li>
        <li><a th:href="@{/faq}" class="nav-link px-2 link-light">FAQs</a></li>
        <li><a th:href="@{/about-us}" class="nav-link px-2 link-light">O nas</a></li>
    </ul>
    <div class="col-md-3 text-end">
        <form sec:authorize="hasRole('USER')" th:action="@{/logout}" th:method="post">
            <input class="btn btn-outline-info btn-lg px-4 me-sm-3 fw-bold" type="submit" value="Wyloguj się">
        </form>
    </div>
</header>
<div class="bg-dark text-secondary px-4 py-3 text-center">
    <div th:if="${counter}>0" class="alert alert-danger" role="alert">
        Uwaga!
        <br>
        Liczba upływjących terminów:
        <span class="text-danger" th:text="${counter}"></span>
    </div>
    <div>
        <h1 class="display-5 fw-bold text-white pb-4">Twoje pojazdy</h1>
        <div class="col-lg-6 mx-auto">
            <p class="fs-5 mb-4">
            <div id="accordion">
                <div class="card" th:each="myElement : ${myList}">
                    <div class="card-header" th:id="heading+${myElement.getId()}">
                        <h5 class="mb-0">
                            <button class="btn btn-link" data-toggle="collapse"
                                    th:attr="data-target='#collapse'+${myElement.getId()}" aria-expanded="false"
                                    th:aria-controls="collapse+${myElement.getId()}"
                                    th:text="${myElement.producerAndModel()}">
                            </button>
                        </h5>
                    </div>
                    <div th:id="collapse+${myElement.getId()}" class="collapse"
                         th:aria-labelledby="heading+${myElement.getId()}" data-parent="#accordion">
                        <div class="card-body">
                            <table class="w-100 fs-8 mb-6">
                                <tr>
                                    <th class="text-start"> Rok produkcji:</th>
                                    <th class="text-end" th:text="${myElement.getYear()}"></th>
                                </tr>
                                <tr>
                                    <th class="text-start"> Rodzaj paliwa:</th>
                                    <th class="text-end" th:text="${myElement.getFuelType()}"></th>
                                </tr>
                                <tr>
                                    <th class="text-start"> Rodzaj oleju:</th>
                                    <th class="text-end" th:text="${myElement.getOilType()}"></th>
                                </tr>
                                <tr th:if="${myElement.isOilInspectionSoon()}" class="text-danger">
                                    <th class="text-start"> Data ostatniej wymiany oleju:</th>
                                    <th class="text-end" th:text="${myElement.getOilInspectionDate()}"></th>
                                </tr>
                                <tr th:if="${myElement.isOilInspectionSoon() == false}">
                                    <th class="text-start"> Data ostatniej wymiany oleju:</th>
                                    <th class="text-end" th:text="${myElement.getOilInspectionDate()}"></th>
                                </tr>
                                <tr>
                                    <th class="text-start"> Przebieg podczas zmiany oleju:</th>
                                    <th class="text-end" th:text="${myElement.getMileage()}"></th>
                                </tr>
                                <tr th:if="${myElement.isServiceDateSoon()}" class="text-danger">
                                    <th class="text-start"> Data ostatniego przeglądu:</th>
                                    <th class="text-end" th:text="${myElement.getServiceDate()}"></th>
                                </tr>
                                <tr th:if="${myElement.isServiceDateSoon()} == false">
                                    <th class="text-start"> Data ostatniego przeglądu:</th>
                                    <th class="text-end" th:text="${myElement.getServiceDate()}"></th>
                                </tr>
                                <tr th:if="${myElement.isInsuranceDateSoon()}" class="text-danger">
                                    <th class="text-start"> Data zakupu ubezpieczenia:</th>
                                    <th class="text-end" th:text="${myElement.getInsuranceDate()}"></th>
                                </tr>
                                <tr th:if="${myElement.isInsuranceDateSoon() == false}">
                                    <th class="text-start"> Data zakupu ubezpieczenia:</th>
                                    <th class="text-end" th:text="${myElement.getInsuranceDate()}"></th>
                                </tr>
                                <tr>
                                    <th class="text-start"> Dodatkowe adnotacje:</th>
                                    <th class="text-end" th:text="${myElement.getOtherNotes()}"></th>
                                </tr>
                            </table>
                            <br>
                            <div class="d-flex justify-content-between gap-2 d-sm-flex">
                                <a th:href="@{'/cars/' + ${myElement.getId()} + '/edit'}">
                                    <button class="btn btn-success btn-lg fs-6 me-sm-6 fw-bold" type="button">
                                        Zaktualizuj informacje
                                    </button>
                                </a>
                                <a th:href="@{'/cars/' + ${myElement.getId()} + '/delete'}">
                                    <button class="btn btn-danger btn-lg fs-6 me-sm-6 fw-bold" type="button"
                                    >Usuń pojazd
                                    </button>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </p>
    <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
        <a th:href="@{/addcar}">
            <button class="btn btn-outline-info btn-lg px-4 me-sm-3 fw-bold" type="button">Dodaj pojazd</button>
        </a>
    </div>
</div>
</div>
</div>
</body>
</html>
