<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Pojazd usunięty</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
</head>
<body class="bg-dark">
<header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom">
    <div class="d-flex align-items-center col-md-3 mb-2 mb-md-0 text-dark text-decoration-none">
        <svg class="bi me-2" width="40" height="32" role="img" aria-label="Bootstrap">
            <use xlink:href="#bootstrap"></use>
        </svg>
    </div>

    <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
        <li><a sec:authorize=isAnonymous() th:href="@{/}" class="nav-link px-2 link-light">Strona główna</a></li>
        <li><a sec:authorize=hasRole('USER') th:href="@{/cars}" class="nav-link px-2 link-light">Strona główna</a></li>
        <li><a th:href="@{/faq}" class="nav-link px-2 link-light">FAQs</a></li>
        <li><a th:href="@{/about-us}" class="nav-link px-2 link-light">O nas</a></li>
    </ul>

    <div class="col-md-3 text-end">
        <form sec:authorize="hasRole('USER')" th:action="@{/logout}"  th:method="post">
            <input class="btn btn-outline-info btn-lg px-4 me-sm-3 fw-bold" type="submit" value="Wyloguj się">
        </form>
    </div>
</header>
<div class="bg-dark text-secondary px-4 py-5 text-center">
    <div class="py-5">
        <h1 class="display-5 fw-bold text-white ">Pojazd został usunięty z Twojej listy</h1>
        <div class="pt-5">
            <a th:href="@{/cars}">
                <button type="button" class="btn btn-outline-warning me-2">Powrót do listy</button></a>
        </div>
    </div>
</div>
</body>
</html>
