<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Edycja terminów serwisu</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
</head>
<body class="bg-dark">
<header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom">
    <div class="d-flex align-items-center col-md-3 mb-2 mb-md-0 text-dark text-decoration-none">
        <svg class="bi me-2" width="40" height="32" role="img" aria-label="Bootstrap">
            <use xlink:href="#bootstrap"></use>
        </svg>
    </div>

    <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
        <li><a sec:authorize=isAnonymous() th:href="@{/}" class="nav-link px-2 link-light">Strona główna</a></li>
        <li><a sec:authorize=hasRole('USER') th:href="@{/cars}" class="nav-link px-2 link-light">Strona główna</a></li>
        <li><a th:href="@{/faq}" class="nav-link px-2 link-light">FAQs</a></li>
        <li><a th:href="@{/about-us}" class="nav-link px-2 link-light">O nas</a></li>
    </ul>

    <div class="col-md-3 text-end">
        <form sec:authorize="hasRole('USER')" th:action="@{/logout}" th:method="post">
            <input class="btn btn-outline-info btn-lg px-4 me-sm-3 fw-bold" type="submit" value="Wyloguj się">
        </form>
    </div>
</header>
<div class="bg-dark text-secondary px-4 py-3 text-center">
    <div>
        <h1 class="display-5 fw-bold text-info pb-4">Edytuj pojazd</h1>
        <div class="col-lg-6 mx-auto">
            <p class="fs-5 mb-4">

            <form class="form-control bg-dark border-light justify-content-center" th:object="${car}" th:method="post"
                  th:action="@{edit}">
                <!--    <fieldset>-->
                <div>
                    <label class="form-label fs-5 fw-bold mb-4 text-light display-3" th:text="*{producerAndModel()}"></label>
                    <input class="form-control" type="hidden" th:value="*{producer}" th:field="*{producer}"/>
                    <input class="form-label" type="hidden" th:value="*{id}" th:field="*{id}"/>
                    <input class="form-label" type="hidden" th:value="*{model}" th:field="*{model}"/>
                    <input class="form-label" type="hidden" th:value="*{userId}" th:field="*{userId}"/>
                    <input class="form-label" type="hidden" th:value="*{fuelType}" th:field="*{fuelType}"/>
                    <input class="form-label" type="hidden" th:value="*{year}" th:field="*{year}"/>
                </div>
                <div>
                    <br>
                    <label class="form-label fs-5 mb-4 text-light">Typ oleju</label>
                    <input class="form-control bg-gray text-dark w-50 text-center mx-auto col-3" type="text"
                           th:field="*{oilType}"/>
                </div>
                <div>
                    <br>
                    <label class="form-label fs-5 mb-4 text-light">Data wymiany oleju(day, month and year)</label>
                    <input class="form-control bg-gray text-dark w-50 text-center mx-auto col-3" type="date"
                           min="1940-01-01" th:value="*{oilInspectionDate}" th:field="*{oilInspectionDate}">
                </div>
                <div>
                    <br>
                    <label class="form-label fs-5 mb-4 text-light">Przebieg podczas wymiany oleju</label>
                    <input class="form-control bg-gray text-dark w-50 text-center mx-auto col-3" type="number" min="0"
                           th:value="*{mileage}" th:field="*{mileage}" th:step="500">
                </div>
                <div>
                    <br>
                    <label class="form-label fs-5 mb-4 text-light">Data przeglądu (day, month and year)</label>
                    <input class="form-control bg-gray text-dark w-50 text-center mx-auto col-3" type="date"
                           min="1940-01-01" th:value="*{serviceDate}" th:field="*{serviceDate}">
                </div>
                <div>
                    <br>
                    <label class="form-label fs-5 mb-4 text-light">Data zakupu ubezpieczenia (day, month and
                        year)</label>
                    <input class="form-control bg-gray text-dark w-50 text-center mx-auto col-3" type="date"
                           min="1940-01-01" th:value="*{insuranceDate}" th:field="*{insuranceDate}">
                </div>
                <div>
                    <br>
                    <label class="form-label fs-5 mb-4 text-light">Dodatkowe informacje</label>
                    <input class="form-control bg-gray text-dark w-50 text-center mx-auto col-3" type="text"
                           th:value="*{otherNotes}" th:field="*{otherNotes}">
                </div>
                <br>
                <input type="submit" class="btn btn-outline-success me-2" value="Aktualizuj dane"/>
                <!--    </fieldset>-->
            </form>
            <div>
                <br>
                <a th:href="@{/cars}">
                    <button type="button" class="btn btn-outline-warning me-2">Powrót do listy</button>
                </a>
            </div>
        </div>
    </div>
</div>
</body>
</html>
