<!DOCTYPE html>
<!--suppress ALL -->
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Zaloguj się</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">




</head>
<body class="bg-dark">
<header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom">
    <div class="d-flex align-items-center col-md-3 mb-2 mb-md-0 text-dark text-decoration-none">
        <svg class="bi me-2" width="40" height="32" role="img" aria-label="Bootstrap">
            <use xlink:href="#bootstrap"></use>
        </svg>
    </div>

    <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
        <li><a sec:authorize=isAnonymous() th:href="@{/}" class="nav-link px-2 link-light">Strona główna</a></li>
        <li><a sec:authorize=hasRole('USER') th:href="@{/cars}" class="nav-link px-2 link-light">Strona główna</a></li>
        <li><a th:href="@{/faq}" class="nav-link px-2 link-light">FAQs</a></li>
        <li><a th:href="@{/about-us}" class="nav-link px-2 link-light">O nas</a></li>
    </ul>

    <div class="col-md-3 text-end" sec:authorize="hasRole('USER')">
        <form  th:action="@{/logout}"  th:method="post">
            <input class="btn btn-outline-info btn-lg px-4 me-sm-3 fw-bold" type="submit" value="Wyloguj się">
        </form>
    </div>
    <div sec:authorize="isAnonymous()" class="col-md-3 text-end">
        <a th:href="@{/register}">
            <button type="button" class="btn btn-outline-light btn-lg px-4">Stwórz konto</button>
        </a>
    </div>
</header>


<div class="bg-dark text-secondary px-4 py-5 text-center">
<div class="py-5">
    <h1 class="display-5 fw-bold text-info">Logowanie</h1>
    <div class="col-lg-6 mx-auto">
        <p class="fs-5 mb-4">
        <form name="f" th:action="@{/}" th:method="post" th:autocomplete="off" class="form-control bg-dark border-light">
            <div>
                <label class="form-label fs-5 mb-4 text-light">
                    Nazwa: <input class="form-control bg-dark text-light"  type="text" th:name="username">
                </label>
            </div>
            <div class="justify-content-center">
                <label class="form-label fs-5 mb-4 text-light">
                    Hasło: <input class="form-control bg-dark text-light" type="password" th:name="password">
                </label>
            </div>
        <div class="text-danger">Błędny login lub hasło</div>
        <br>
        <div>
            <input type="submit" class="btn btn-outline-info btn-lg px-4 me-sm-3 fw-bold align-self-md-center align-content-center" value="Zaloguj">
        </div>
    </form>
        </p>
    </div>
</div>

</div>

</body>
</html>
